/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.background {
    -fx-background-color: #85878a;
}
.background-image
{
	 -fx-background-image: url("Books.jpg");
	
	 -fx-background-size: stretch;	 
}
.lion-default {
    -fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}
.lion-default-size-10 {
    -fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 5 3 5;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}
.titre1, .label, .check-box {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
}

.label {
    -fx-font-size: 12pt;
}

.titre1 {
    -fx-font-size: 14pt;
}

.check-box, #filtreDefinition {
    -fx-font-size: 9pt;
}

.hyperlink {
    -fx-text-fill: lightblue;
    -fx-underline: true;
}

.hyperlink:hover {
    -fx-text-fill: white;
}

#titreMot {
      -fx-font-family: "Segoe UI Semibold";
      -fx-font-size: 18pt;
      -fx-text-fill: black;
      -fx-background-color:rgba(255, 255, 255, 0.5);
}

.text-area:focused {
	-fx-text-fill: black;
}

#titreMot:readonly, .text-area:readonly, .text-area:readonly .viewport, .text-area:readonly .content {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.text-area:readonly.defaultDefinition {
	-fx-text-fill: grey;
}

.menu-item .label{
	-fx-text-fill: black;
}

.texteDate {
    -fx-background-color: transparent;
    -fx-text-fill: lightgrey;
    -fx-font-style: italic;
}

#filtreDefinition {
    -fx-text-fill: red;
}

.check-box, .hypertext, #filtreDefinition {
    -fx-padding: 3pt;
}

.zoneOmbragee {
    -fx-background-color: rgba(0, 0, 0, .70);
    -fx-border-color: darkgrey;
    -fx-border-radius: 5pt;
    -fx-background-radius: 5pt;
}


.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

